.container {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.quote {
    margin: 20% 5%;
    animation: fadeIn ease 3s;
}
@media screen and (max-width: 767px) {
    .quote {
        margin: 5% 5% !important;
    }
}
@media screen and (max-width: 992px) {
    .quote {
        // text-align: center;
        margin: 20% 5%;
    }
}
@media (orientation: landscape) {
    .quote {
        margin: 10% 5%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
