.container {
    height: 100%;
    width: 100%;
}
#menu-button {
    display: none;
}
nav {
    background-color: #363636;
    color: white;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    margin: 0 15px;
}
h1 {
    text-align: center;
}
.grid {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 7.5% 72.5% 20%;
}
.contentArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imageWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentArea img {
    width: 100%;
    display: block;
    max-width: 350px;
    border: 1px solid black;
    border-radius: 10px;
}
main {
    grid-row: 2 / 2;
    background-color: #ebeae5;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.text p {
    margin-bottom: 50px;
    text-align: center;
}
footer {
    grid-row: 3 / 3;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    font-family: "Oswald", sans-serif;
    border: none;
    background-color: #f88e37;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    width: 50%;
    border-radius: 5px;
}
#sidenav {
    display: none;
}
@media all and (max-width: 768px) {
    .contentArea {
        flex-direction: column;
    }
    .contentArea img {
        width: 200px;
        margin-bottom: 30px;
    }
    .contentArea p {
        margin-bottom: 10px;
    }
    .contentArea button {
        margin-top: 20px;
    }
}
@media all and (max-width: 576px) {
    button {
        margin-bottom: 20px;
    }
    footer button {
        width: 75%;
    }
    footer {
        text-align: center;
    }
    nav.header-nav a {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 25%;
        overflow: hidden;
        display: none;
    }
    nav {
        justify-content: flex-start;
    }
    main {
        overflow: scroll;
    }
}
