.container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
}
.red,
.green,
.pink,
.blue {
    margin: 10px;
}
.red {
    background-color: red;
    min-height: 200px;
}
.green {
    background-color: greenyellow;
    min-height: 200px;
}
.green,
.pink {
    flex: 1;
}
.blue {
    background-color: blue;
    min-height: 1000px;
    flex: 3;
}
.pink {
    background-color: deeppink;
    min-height: 200px;
}
.flex {
    display: flex;
}
@media (max-width: 768px) {
    .pink {
        flex: none;
        width: calc(100% - 20px);
    }
    .flex {
        flex-wrap: wrap;
    }
    .blue {
        flex: 3;
    }
    .green {
        flex: 1;
    }
}
@media (max-width: 576px) {
    .green {
        flex: none;
        width: calc(100% - 20px);
    }
}
