.card {
    margin: 2% 2vw !important;
}
.img {
    height: 180px;
    border-radius: 1.5%;
}
.content {
    padding: 0 !important;
}
.title {
    padding-top: 20px;
}
.link {
    float: right;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #3f50b5;
    border-radius: 5%;
    &:hover {
        background-color: #475bcc;
    }
}
@media all and (max-width: 996px) {
    .content {
        padding: 0 2% !important;
    }
}
@media all and (max-width: 767) {
    .card {
        margin: 2% 0 !important;
    }
}
