.container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
}
.imgContainer {
    width: 100%;
    height: auto;
    img {
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}
input {
    width: 20px;
    height: 20px;
    margin: 2%;
}
input:checked + .imgContainer img {
    opacity: 100;
}
