.container {
    height: 100%;
    padding: 0 2.5%;
    overflow: scroll;
    overflow-x: hidden;
}
.img-wrapper {
    height: 100%;
    width: 100%;
    background-color: red;
}
.img {
    height: 1030px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
}
@media all and (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}
