.container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
    padding: 30px 0;
    overflow-x: scroll;
    ::-webkit-scrollbar {
        height: 10px;
        width: 5px;
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: lightgrey;
        max-width: 10px;
        border-radius: 5px;
    }
}
