.container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
}
.input {
    display: flex;
    .inputField {
        min-width: 200px;
    }
    .add {
        margin: 0 20px;
    }
    margin: 5% 0;
}
