.container {
    height: 100%;
}
.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 3%;
    text-align: center;
}
.header,
.content {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
}
.content p {
    margin: 1.5%;
}
.imgContainer {
    height: 100%;
    width: 100%;

    .img {
        height: 1030px;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
        -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
        -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    }
}
