.container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
    overflow-y: scroll;
}
.navbar {
    background-color: lightgrey;
    padding: 20px;
    height: 200px;
}
.content {
    min-height: 800px;
    padding: 2%;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
    button {
        margin: 5% 0;
    }
}
.sources {
    min-height: 200px;
    word-break: break-all;
    padding: 2%;
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
}
.buttons {
    display: flex;
    height: 60%;
    justify-content: space-between;
    .topicButtons {
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        width: 50%;

        button {
            max-width: 200px;
            min-width: 100px;
        }
    }
    .editButton {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 50%;
        button {
            max-width: 200px;
        }
    }
}
.editor {
    display: flex;
    flex-direction: column;
}
