.container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
    padding: 30px 0;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0 !important;
    & > * {
        margin: 0 20px;
    }
}
.list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button {
    max-width: 150px;
}
