.container {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    animation: fadeIn ease 3s;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
