.container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
    display: grid;
    padding: 2% 0;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
}
.navbar {
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 5px;
    button {
        max-width: 200px;
        margin: 2%;
    }
}

.sidebar {
    grid-column: 1/2;
    grid-row: 2/6;
    display: flex;
    padding: 5% 0;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    button {
        max-width: 100%;
        margin: 2%;
        background-color: #757de8;
    }
}
.content {
    grid-column: 2/3;
    grid-row: 2/6;
    display: flex;
    flex-direction: column;
    padding: 3%;
    text-align: center;
}
.source {
    grid-column: 3/4;
    grid-row: 2/6;
    text-align: center;
    padding: 5% 0;
    background-color: lightgrey;
}
.source,
.sidebar {
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
}

@media screen and (max-width: 997px) {
    .container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 4fr 2fr;
    }
    .sidebar {
        grid-row: 2/4;
    }
    .content {
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .source {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

@media screen and (max-width: 576px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 4fr 2fr;
    }
    #header {
        grid-column: 1/2;
    }
    .sidebar {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .content {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .source {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}
