.container {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}
.image img {
    height: 100px;
}
.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        height: 50px;
    }
}
@media screen and (max-width: 576px) {
}
