.container {
    overflow: scroll;
    height: 100%;
    padding: 0 2.5%;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.button {
    max-width: 300px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sourcecodes {
    width: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
@media all and (max-width: 997px) {
    .button {
        margin: 2% !important;
    }
}
