.container {
    height: 100%;
    padding: 0 2.5%;
}
.input {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2% 0;
    & * {
        margin: 0 2% !important;
    }
}
.list {
    margin: 5% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media all and (max-width: 576px) {
    .input {
        flex-direction: column;
        align-items: center;
        & * {
            margin: 2% 0 !important;
        }
    }
}
