.container {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
    padding: 30px 0;
    overflow-y: scroll;
}
.buttons {
    display: flex;
    justify-content: center;
    margin: 2% 0;
    & button {
        max-width: 250px;
        margin: 0 2%;
    }
}

.text {
    padding: 0 2%;
}
