@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./assets/background_white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.content {
    height: calc(100vh - 100px);
}
@media screen and (max-width: 576px) {
    body {
        background-image: url("./assets/background_mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .content {
        text-align: center;
        margin: 0 2%;
    }
}
