.container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputContainer {
    display: flex;
}
.button {
    max-width: 100px;
    margin: 10px;
}
@media all and (max-width: 567px) {
    .inputContainer {
        flex-direction: column;
    }
} ;
