.grid {
    width: 100%;
    display: grid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(176, 176, 176, 1);
    border-radius: 5px;
    padding: 1% 0;
    height: calc(160px + 160px + 160px + 1000px);
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 70% 10%;
}
.red {
    background-color: red;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: span 5;
}
.green {
    background-color: greenyellow;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: span 5;
}
.blue {
    background-color: blue;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: span 5;
}
.pink {
    background-color: deeppink;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: span 5;
}

@media (min-width: 768px) {
    .grid {
        grid-template-rows: 10% 80% 10%;
        grid-template-columns: calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px);
        grid-gap: 10px;
        box-sizing: border-box;
    }
    .green {
        grid-area: 2 / 1 / 2 / 2;
    }
    .blue {
        grid-area: 2 / 2 / 2 / 6;
    }
    .red {
        grid-area: 1 / 1 / 1 / 6;
    }
    .pink {
        grid-area: 3 / 1 / 3 / 6;
    }
}
@media (min-width: 992px) {
    .green {
        grid-area: 2 / 1 / 2 / 1;
    }
    .grid {
        grid-template-rows: 15% 85%;
    }
    .blue {
        grid-area: 2 / 2 / 2 / 5;
    }
    .pink {
        grid-area: 2 / 5 / 2 / 6;
    }
}
