.container {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.about {
    margin-top: 70px;
    animation: fadeIn ease 3s;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .quote {
        text-align: center;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
